<header>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Профиль</a></li>
          <li><a href="#">Записи</a></li>
          <li><a class="waves-effect waves-light btn #b388ff deep-purple accent-1" (click)="navigateTo('sign-in')">Авторизация</a></li>
          <li><a class="waves-effect waves-light btn #b388ff deep-purple accent-2" (click)="navigateTo('sign-up')">Регистрация</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
